<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good Day <%= @user.to_s %>!</h1>
    <p>
      Your payment has been  successfully made!<p>
      <br>
      <p>The amount you paid is: <strong>Php <%= @debt.amount %></strong>
    </p>
    <br>
      <p>Your remaining total debt is: <strong>Php <%= @user.total_debt %></strong>
    </p>
    <br>
    <p>
      If you have any concerns please email <%= @officer.email %>
    </p>
    <p>Thank You for your prompt payment and have a great day!</p>
  </body>
</html>