<%= simple_form_for(@training_activity) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: '
    Training Activity Name' %>
  </div>

  <div class="form-inputs">
    <%= f.input_field  :quota_point_value, label: "Full quota point value", placeholder: '0.00' %>
  </div>

  <br>
  <div class="form-actions">
    <%= f.button :submit, data: { confirm: 'Are you sure?'}%>
  </div>
<% end %>
