<h1>Listing Contingents</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Competition</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @contingents.each do |contingent| %>
      <tr>
        <td><%= contingent.tryout_intent.competition %></td>
        <td><%= link_to 'Show', contingent, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_contingent_path(contingent), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

