<h1>Listing Varsity Members</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Competition</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @contingents.each do |contingent| %>
      <tr>
        <td><%= contingent.tryout_intent.competition %></td>
        <td><%= link_to 'Show', contingent %></td>
        <td><%= link_to 'Edit', edit_contingent_path(contingent) %></td>
        <td><%= link_to 'Destroy', contingent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

