<div>
	<a href="#menu-toggle" id="menu-toggle">
		<img src="ads_logo.png" alt="" height="100%" width="100%" >
	</a>
	
</div>


<div style="margin-top: 5%; padding: 5%;">
	<p style="text-align: right;">Powered by: SPECS</p>
</div>
